__pycache__/
.vscode/
datasets/
commands.txt

src/analyze_datasets/analyze_default_of_credit_card_clients/
src/analyze_datasets/analyze_german_credit_data/
src/analyze_datasets/analyze_lc_loans_granting_model_dataset/

src/analyze_merged_dataset/


src/convert_datasets/converted_credit_card_default.csv
src/convert_datasets/converted_german_credit.csv
src/convert_datasets/converted_lc_loans.csv

train_credit_scoring/

